
.icon-search:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-fire:before { content: '\e802'; } /* '' */
.icon-doc-landscape:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */