body{
    text-align: center;
}
.main{
    display: block;
}
input{
    margin: 10px;
    width: 450px;
    height: 40px;
}
.sub{
    display: inline-block;
    margin: 20px;
    
}
.menu{
    background-color: #F8F9FA;
    padding: 10px;
}